<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jsoncc.dao.sys.DictDao">

    <insert id="save" parameterType="map">
        insert into s_dict (
            id,
            dictcode,
            dictname,
            dictvalue,
            sorts,
            note,
            parentId
        )
        values
        (uuid (),
         #{dictcode},#{dictname},#{dictvalue},#{sorts},#{note},#{parentId})
    </insert>

    <select id="queryChildDictByParentId" parameterType="string" resultType="map">
        select
            d.`id`,
            d.`dictcode`,
            d.`dictname`,
            d.`dictvalue`,
            d.`sorts`,
            d.`note`
        from
            s_dict  d
        where d.`isdel`=0
        and d.parentId=#{pid}
         order by d.sorts
    </select>

    <update id="update" parameterType="map">
        update
            s_dict
        <trim prefix="set" suffixOverrides=",">
            <if test="dictname!=null and dictname!=''">
                dictname=#{dictname},
            </if>
            <if test="dictvalue!=null and dictvalue!=''">
                dictvalue=#{dictvalue},
            </if>
            <if test="sorts!=null and sorts!=''">
                sorts=#{sorts},
            </if>
            <if test="note!=null and note!=''">
                note=#{note},
            </if>
            <if test="isdel!=null">
                isdel=#{isdel},
            </if>
        </trim>
        where id = #{id}
    </update>

    <update id="deleteByParentId" parameterType="string">
        update s_dict set isdel = 1 where parentId = #{pid}
    </update>

    <select id="queryDictCodeOnly" parameterType="map" resultType="int">
        select count(1) from s_dict where parentId = #{pid} and dictcode like #{dictcode}
    </select>
</mapper>