<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jsoncc.dao.sys.RoleDao">

    <insert id="save" parameterType="map">
        INSERT INTO s_role ( id, role_name, note, adddate )
        VALUES
        (
            #{id},#{role_name},#{note},NOW()
        )
    </insert>

    <select id="queryRole" resultType="map">
        SELECT
            r.id,
            r.role_name,
            r.note,
            DATE_FORMAT( r.adddate, '%Y-%m-%d %H:%i' ) adddate
        FROM
            s_role r
        WHERE
            r.isdel = 0
        ORDER BY
            r.adddate DESC

    </select>
</mapper>