<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jsoncc.dao.business.OilDao">
    <select id="queryOils" resultType="map">
        select *
        from b_oil;
    </select>

    <!--分页查询 此一对多查询看着复杂，但效率比下面那种方法高些
    <select id="queryOil" parameterType="map"  resultMap="oilBean">
        select
        o.`id`,
        o.`oil_name`,
        o.`address`,
        o.`longitude`,
        o.`latitude`,
        o.`discount`,
        o.`explains`,
        date_format (o.`adddate`, '%Y-%m-%d %h:%i') adddate,
        o.`status`,
        a.id aid,
        a.`attMiniUrl`,
        a.`attType`,
        a.`attUrl`,
        a.`businessType`,
        a.`isdefault`,
        a.`name`,
        date_format (a.`uploadTime`, '%Y-%m-%d %h:%i') uploadTime
        from
        b_oil o
        left join b_attachment a
        on o.id = a.businessId
        and a.businessType = 1
        <where>
            o.isdel=0
            <if test="oil_name !=null and oil_name !='' ">
                and o.oil_name like concat('%',#{oil_name},'%')
            </if>
            <if test="address !=null and address !='' ">
                and o.address like concat('%',#{address},'%')
            </if>
            <if test="status!=null and status!=''">
                and o.status=#{status}
            </if>
        </where>

        <if test="begin!=null">
            limit #{begin},#{pageSize}
        </if>

    </select>

    <! zhushi  油站查询的结果
    <resultMap id="oilBean" type="oil">
        <id property="id" column="id"></id>
        <result property="oil_name" column="oil_name"/>
        <result property="address" column="address"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="discount" column="discount"/>
        <result property="explains" column="explains"/>
        <result property="adddate" column="adddate"/>
        <result property="status" column="status"/>
        <collection property="attachments" ofType="attachment" >
            <id property="id" column="aid"></id>
            <result property="name" column="name"></result>
            <result property="attType" column="attType"></result>
            <result property="attUrl" column="attUrl"></result>
            <result property="attMiniUrl" column="attMiniUrl"></result>
            <result property="uploadTime" column="uploadTime"></result>
            <result property="isdefault" column="isdefault"></result>
            <result property="businessType" column="businessType"/>
        </collection>

    </resultMap>
    -->

    <!-- 嵌套查询 -->
    <resultMap id="oilBean" type="oil">
        <id property="id" column="id"></id>
        <result property="oil_name" column="oil_name"/>
        <result property="address" column="address"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="discount" column="discount"/>
        <result property="explains" column="explains"/>
        <result property="adddate" column="adddate"/>
        <result property="status" column="status"/>
        <collection property="attachments" ofType="attachment" column="id"
                    select="cn.jsoncc.dao.business.AttachmentDao.queryAttachmentByOilId">

        </collection>

    </resultMap>

    <select id="queryOil" parameterType="map" resultMap="oilBean">
        select
        o.`id`,
        o.`oil_name`,
        o.`address`,
        o.`longitude`,
        o.`latitude`,
        o.`discount`,
        o.`explains`,
        date_format (o.`adddate`, '%Y-%m-%d %H:%i') adddate,
        o.status
        from
        b_oil o
        <where>
            o.isdel=0
            <if test="oil_name !=null and oil_name !='' ">
                and o.oil_name like concat('%',#{oil_name},'%')
            </if>
            <if test="address !=null and address !='' ">
                and o.address like concat('%',#{address},'%')
            </if>
            <if test="status!=null and status!=''">
                and o.status=#{status}
            </if>
        </where>
        order by o.adddate desc
        <if test="begin!=null">
            limit #{begin},#{pageSize}
        </if>
    </select>


    <!--查询总记录数-->
    <select id="queryOilCount" parameterType="map" resultType="int">
        select count(1)
        from b_oil o
        <where>
            o.isdel = 0
            <if test="oil_name != null and oil_name !='' ">
                and o.oil_name like concat ('%',#{oil_name},'%')
            </if>
        </where>

    </select>

    <!--保存油站-->
    <insert id="saveOil" parameterType="map">
        insert into b_oil(id, oil_name, address, longitude, latitude, discount, explains, adddate)
        values (#{id}, #{oil_name}, #{address}, #{longitude}, #{latitude}, #{discount}, #{explains}, now())
    </insert>

    <!-- 修改油站信息 -->
    <!--    <update id="updateOil" parameterType="map">-->
    <!--        update b_oil-->
    <!--        set oil_name=#{oil_name},-->
    <!--            address=#{address},-->
    <!--            longitude=#{longitude},-->
    <!--            latitude=#{latitude},-->
    <!--            discount=#{discount},-->
    <!--            explains=#{explains}-->
    <!--        where id = #{id}-->
    <!--    </update>-->

    <update id="updateOil" parameterType="map">
        update b_oil
        <trim prefix="set" suffixOverrides=",">
            <if test="oil_name != null and oil_name != '' ">
                oil_name = #{oil_name},
            </if>
            <if test="address != null">
                address =# {address},
            </if>
            <if test="longitude != null">
                longitude = #{longitude},
            </if>
            <if test="latitude != null">
                latitude = #{latitude},
            </if>
            <if test="discount != null">
                discount = #{discount},
            </if>
            <if test="explains != null">
                explains = #{explains},
            </if>
            <if test="isdel != null and isdel != '' ">
                isdel = #{isdel},
            </if>
            <if test="status != null  ">
                status = #{status}
            </if>
        </trim>
        where id = #{id}
    </update>


</mapper>